<footer class="page-footer">
  <div class="container">
        <div class="col l4 offset-l2 s12">
          <h4>Contact the creator</h4>
            <ul>
              <li><a href="https://github.com/Ricaarmal">Github</a></li>
            </ul>
            <ul>
              <li><a href="https://twitter.com/DenHeist">Twitter</a></li>
            </ul>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container red-text darken-4">
      © 2018 Copyright
      <a class="right" href="https://angular.io/">Made with Angular</a>
      </div>
  </div>
</footer>