<div>
    <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      Crear Empleado
    </button>
</div>

  <div id="collapseExample" [ngbCollapse]="isCollapsed">
    <div class="card">
      <div class="card-body">
        <section>
          <form #lupeForm="ngForm" (ngSubmit)="recibiendoElForm(lupeForm)" >
            <p>
            El nombre de Usuario:
            <input required name="username" [(ngModel)]="username" placeholder="Nombre de Usuario" type="text">
            </p>
            <p>
            Introduce su email:
            <input required name="email" [(ngModel)]="correo" placeholder="muebles@muebles.com" type="email">
            </p>
            <p>
            Introduce tu contraseña:
            <input #myPassword="ngModel" required name="password" [(ngModel)]="password" placeholder="Tu password" type="password">
            </p>
            <div *ngIf="myPassword.errors && (myPassword.dirty || myPassword.touched)">
                <p style="background:red;color:white;border-radius: 30%" [hidden]="!myPassword.errors.required">
                Password is required
                </p>
            </div>
            <p>
            Repita la contraseña:
            <input required name="password2" [(ngModel)]="password2" placeholder="repite" type="password">
            </p>
            <button type="submit">Crear</button>
            </form>

        </section>
      </div>
    </div>
  </div>

