section{
  display: block;
  margin-top: 20px;
}

.container{
  display: flex;
  flex-wrap: wrap; 
}

.container1{
  border: 1px solid brown;
  width: 302px;
  margin: 20px;
}

h3{
  text-align: center;
  color: chocolate;
}

h2{
  text-align: center;
}