@media (min-width: 520px){
  h2{
    font-family: Helvetica;
  }
  
  .container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid chocolate;
  width: 500px;
  height: 500px; 
  }

  .raw{
  text-align: center;
  padding-top: 30px 
  }

  input{
  margin: 10px;
  }

  button{
  border-radius: 10%;
  }
}

@media (min-width: 360px){
  .container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid chocolate;
    width: 360px;
    height: 350px; 
    }
  
    .raw{
    text-align: center;
    padding-top: 40px 
    }
}