<ngb-carousel class="tamano" *ngIf="images">
  <ng-template ngbSlide>
    <img src="http://res.cloudinary.com/manzanos/image/upload/v1533254812/assets/recamaras.gif.gif" alt="Random first slide">
  </ng-template>
  <ng-template ngbSlide>
    <img src="http://res.cloudinary.com/manzanos/image/upload/v1533256160/assets/cantinagif.gif.gif" alt="Random second slide">
  </ng-template>
  <ng-template ngbSlide>
    <img src="http://res.cloudinary.com/manzanos/image/upload/v1533067962/assets/Sala3-2-1.jpg.jpg" alt="Random third slide">
  </ng-template>
</ngb-carousel>