img{
  width: 200px;
  height: 100px;
}

.nav-wrapper{
  height: 100px;
  background-color: #F0EAEA;
  border-bottom: 3px solid chocolate;
}

ul{
  padding-top: 20px;
  color: darkred;
}
a{
  color: darkred;
  text-transform: none;
}
i{
  text-transform: none;
}