<section class="container">
  <div>
    <h2>¿Quienes Somos?</h2>
    <p>
      Somos una empresa familiar, la segunda generación, joven y orgullosamente mexicana, 
      con mas de 35 años de experiencia, iniciamos torneando madera, y lo seguimos haciendo 
      hasta la fecha, en el año 1986 decidimos fabricar sillas, y paralelamente a decorar casas;
      hacíamos duelas para pisos, pasamanos, puertas, ventanas, closets, libreros, tallado de madera
      y muebles en general, todo esto lo hacíamos de forma artesanal, solo las sillas eran las únicas 
      que se fabricaban en serie, y eran lotes de 50 a 800 sillas. Para el 1990 decidimos fabricar 
      simultáneamente muebles de hoteles, restaurantes, bares, y mueblerías, así mismo fuimos 
      adquiriendo una gran habilidad y experiencia en la manufactura; del mismo modo ya estábamos 
      planeado abrir nuestra primera Casa Bonita Muebles en el estado de México, iniciamos operaciones 
      en 1997, y cerramos 2 años después por múltiples razones. (Falta de experiencia) Finalmente el 
      14 de febrero de 2003, abrimos nuestra primera tienda Casa Bonita Muebles en Azcapotzalco DF, 
      presentando una línea de muebles clásicos y contemporáneos. Hoy seguimos creando productos 
      nuevos, con diseños innovadores, que vamos incrementando a petición del cliente.
    </p>
  </div>

  <div>
    <h2>¿Por que elegir Casa Bonita?</h2>
    <p>
        ¿Por qué elegir Casa Bonita Muebles? Vendemos por paquete y por pieza, al mismo precio que si 
        comprara por paquete, y lo puede ir armando poco a poco sin presión y sin pagar mas por comprar
        una sola pieza.
        Escoge la tela a tu gusto; la tapicería para la sala o la silla, son mas de 20 colores a 
        elegir.
        Aceptamos todas las tarjetas de crédito, débito y a meses sin intereses* *aplican 
        restricciones.
    </p>

      <ul>
        <li>
        Facilidades de pago
        </li>
        <li>
        Sistema de apartado
        </li>
        <li>
        Muebles hechos de madera de poplar americano (álamo)
        </li>
        <li>
        MDF enchapado de maple
        </li>
        <li>
        Triplay de maple
        </li>
        <li>
        2 colores de barniz a elegir, caoba y chocolate.
        </li>
        <li>
        Material de barniz fondo y laca de poliuretano.
        </li>
      </ul>
  </div>
</section>